.layout-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1rem;
  background: lightgoldenrodyellow;
}

footer {
  padding: 1rem;
  background: lightgoldenrodyellow;
}